{% extends "layout.html.twig" %}
{% block content %}
        <h2>Add Greet</h2>
        <form class="form-horizontal" method="post" action="{{base_url('/greeting/add')}}">

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="{{ post_data['name'] }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

{% endblock %}