{% extends "layout.html.twig" %}
{% block content %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for greeting in greetings %}
            <tr>
                <td>{{ greeting.id }}</td>
                <td>{{ greeting.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}