{% extends "layout.html.twig" %}
{% block content %}
    <table border="1" style="width: 80%;">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        {% for greeting in greetings %}
            <tr>
                <td>{{ greeting.id }}</td>
                <td>{{ greeting.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}