{% extends "layout.html.twig" %}
{% block content %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.value }}</td>
                <td>{{ product.date_register|date("m/d/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}